@import "../../style/variables.scss";

%custom-button__padding {
  padding: 0 24px;
}

.custom-button__success {
  background-color: $blue;
  @extend %custom-button__padding;
  color: white;
  transition: 0.4s;

  &:focus {
    background-color: #6ba1e9;
    transition: 0.4s;
  }
}

.custom-button__light {
  background-color: transparent;
  @extend %custom-button__padding;
  color: #333;
  transition: 0.4s;

  &:focus {
    background-color: #333;
    color: white;
    transition: 0.4s;
  }
}

.custom-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 36px;
  outline: 0;
  font-weight: 500;
  cursor: pointer;
  border: none;
  letter-spacing: 0.25px;
  border-radius: 4px;
  @include translate3d(0, 0, 0);

  .ripple {
    width: 0;
    height: 0;
    opacity: 0.7;
    position: absolute;
    border-radius: 150%;
    @include scale(0);
    cursor: inherit;
    display: inline-block;
    pointer-events: none;
    -webkit-animation: rippleAnimation 0.4s ease-in-out;
    animation: rippleAnimation 0.4s ease-in-out;

    &.success {
      background: white;
    }

    &.light {
      background: #333;
    }
  }
}

@-webkit-keyframes rippleAnimation {
  100% {
    @include scale(2);
    // set to one to make colour persist.
    opacity: 0;
  }
}

@keyframes rippleAnimation {
  100% {
    @include scale(2);
    opacity: 0;
  }
}
