%custom-button__padding {
  padding: 0 24px;
}

.custom-button__success {
  background-color: $blue;
  @extend %custom-button__padding;
  color: white;
  transition: 0.4s;

  &.focus {
    transition: 0.4s;
    background-color: $translucentBlue;
  }
}

.custom-button__light {
  background-color: #ebebeb;
  @extend %custom-button__padding;
  color: #333;
  transition: 0.4s;

  &.focus {
    transition: 0.4s;
    background-color: #3333334b;
  }
}

.custom-button {
  display: inline-block;
  position: relative;
  line-height: 36px;
  outline: 0;
  font-weight: 500;
  cursor: pointer;
  border: none;
  letter-spacing: 0.25px;
  border-radius: $borderRadius;
  transition: 0.4s;
  @include translate3d(0, 0, 0);
}
