@import "../style/variables.scss";

$border: 1px solid #dadce0;

.calendar-navigation {
  height: 48px;
  padding: 8px;
  @include flexAmount(1 1 0%);
  @include flexbox;
  flex-wrap: wrap;
  align-items: center;

  .calendar-navigation__item {
    width: calc(100% * 0.25 - 10px - 1px);
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

.calendar-wrapper {
  width: 100%;
  @include flexAmount(1 1 0%);
  @include flexbox;
  flex-direction: column;
  height: calc(100% - 67px);
  position: absolute;

  .day-row:nth-child(1) {
    border-right: $border;
  }
  .day-row {
    @include flexbox;
    border-bottom: $border;
    border-top: $border;
    border-left: $border;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;

    .day {
      width: 100%;
      height: 100%;
      justify-content: center;
      justify-content: center;
      align-items: center;
      display: inherit;
      font-size: 12px;
      @include flexbox;
    }
  }
}

.calendar-row {
  @include flexbox;
  @include flexAmount(1 1 0%);
  position: relative;
}

.calendar-cell {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: center;
  position: relative;
  background: white;
  border: none;
  height: inherit;
  border-left: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;

  &.calendar-cell:focus {
    outline: 0;
    outline-style: auto;
    outline-offset: -2px;
    background: #efefef;
    transition: 0.4s ease-in-out;
  }

  .today {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background: $blue;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
  }

  .calendar-cell__inner {
    top: 0;
    width: 88%;
    position: absolute;
    margin: 0 auto;
    margin-top: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.calendar-cell:last-child {
  border-right: $border;
}
