@import "../style/variables.scss";

$border: 1px solid #dadce0;

html {
  font-family: "Raleway", sans-serif;
}

.calendar-navigation {
  height: 48px;
  padding: 8px;
  @include flexAmount(1 1 0%);
  @include flexbox;
  flex-wrap: wrap;
  align-items: center;

  .calendar-navigation__item {
    width: calc(100% * 0.25 - 10px - 1px);
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

.calendar-wrapper {
  width: 100%;
  @include flexAmount(1 1 0%);
  @include flexbox;
  flex-direction: column;
  height: calc(100% - 67px);

  .day-row:nth-child(1) {
    border-right: $border;
  }
  .day-row {
    @include flexbox;
    border-bottom: $border;
    border-top: $border;
    border-left: $border;
    height: 20px;
    justify-content: center;
    align-items: center;

    .day {
      width: 100%;
      justify-content: center;
      display: inherit;
      font-size: 12px;
      @include flexbox;
    }
  }
}

.calendar-row {
  @include flexbox;
  @include flexAmount(1 1 0%);
  position: relative;
}

.calendar-cell {
  width: 100%;
  font-size: 12px;
  @include flexbox;
  @include flexAmount(1 1 0%);
  justify-content: center;
  border: none; // reset button border
  border-left: $border;
  border-bottom: $border;

  &.calendar-cell:focus {
    outline: 0;
    outline-style: auto;
    outline-offset: -2px;
    background: #efefef;
    transition: 0.4s ease-in-out;
  }

  .today {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000ff4f;
    border-radius: 50%;
    text-align: center;
    transition: 0.1s ease-in-out;
  }
}

.calendar-cell:last-child {
  border-right: $border;
}
