@import "../style/variables.scss";

$border: 1px solid #dadce0;

.calendar-navigation {
  height: 48px;
  padding: 8px;
  @include flexAmount(1 1 0%);
  @include flexbox;
  flex-wrap: wrap;
  align-items: center;

  .calendar-navigation__item {
    width: calc(100% * 0.25 - 10px - 1px);
    flex-grow: 1;
    @include flexbox;
    justify-content: center;
    align-items: center;
  }
}

%small-header {
  font-weight: 600;
  // font-size: 12px;
}

.hour-header {
  height: 70px;
  width: 100%;
  @include flexbox;
  @extend %small-header;
  color: $blue;

  .hour-header__inner {
    padding-left: 95px;
    @include flexbox;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.calendar-hour__view-wrapper {
  overflow: scroll;

  .vertical-line {
    height: 100%;
    width: 1px;
    background: #dadce0;
    margin: 0;
    margin-left: 85px;
    @include flexbox;
    justify-content: left;
    position: absolute;
    z-index: 4;
    border: none;
    padding: 0;
  }
}

.calendar-wrapper {
  width: 100%;
  @include flexAmount(1 1 0%);
  @include flexbox;
  flex-direction: column;
  height: calc(100% - 67px);
  position: absolute;

  .day-row:nth-child(1) {
    border-right: $border;
  }
  .day-row {
    @include flexbox;
    border-bottom: $border;
    border-top: $border;
    border-left: $border;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;

    .day {
      width: 100%;
      height: 100%;
      justify-content: center;
      justify-content: center;
      align-items: center;
      display: inherit;
      font-size: 12px;
      @include flexbox;
    }
  }
}

.calendar-row {
  @include flexbox;
  @include flexAmount(1 1 0%);
}

.calendar-cell {
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.5px;
  position: relative;
  background: white;
  border: none;
  padding: 0;
  display: block;
  border-left: $border;
  border-bottom: $border;

  &.hour {
    border: none;
  }

  .calendar-cell__hour {
    height: 40px;
    @include flexbox;

    .cell-hour {
      width: 68px;
      height: 20px;
    }

    .hour-line {
      box-sizing: content-box;
      height: 1px;
      overflow: visible;
      color: #dadce0;
      z-index: 3;
      background: #dadce0;
      display: flow-root;
      width: 100%;
      border: none;
    }
  }

  &.calendar-cell:focus {
    outline: 0;
    outline-style: auto;
    outline-offset: -2px;
    background: #efefef;
    transition: 0.4s ease-in-out;
  }

  .calendar-cell__inner {
    width: 100%;
    @include flexbox;
    justify-content: center;
    align-items: self-start;
    height: inherit;

    .cell-date {
      height: 30px;
      width: 30px;
      @include flexbox;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
    }
  }
}

.today {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: $blue;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}

.calendar-cell:last-child {
  border-right: $border;
}
