.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(32, 33, 36, 0.38);
  z-index: 10;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.modal-inner {
  min-width: 448px;
  padding: 16px 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
  background: white;
  align-items: center;
  height: 300px;
  z-index: 12;
  border-radius: $borderRadius;
  @include box-shadow;
}

.modal-wrapper {
  height: 100%;
  width: 100%;
  z-index: 11;
  top: 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 12;
}
