@mixin flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

@mixin flexAmount($var) {
  -webkit-box-flex: $var;
  -webkit-flex: $var;
  flex: $var;
}

@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
}

@keyframes fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fade {
  -webkit-animation: fade-animation 1s ease-in-out; /* Safari 4+ */
  -moz-animation: fade-animation 1s ease-in-out; /* Fx 5+ */
  -o-animation: fade-animation 1s ease-in-out; /* Opera 12+ */
  animation: fade-animation 1s ease-in-out; /* IE 10+, Fx 29+ */
}

$blue: #1a73e8;
$lightBlue: #6ba1e9;

@mixin scale($var) {
  -webkit-transform: scale($var);
  -ms-transform: scale($var);
  transform: scale($var);
}

@mixin translate3d($var1, $var2, $var3) {
  -webkit-transform: translate3d($var1, $var2, $var3);
  -moz-transform: translate3d($var1, $var2, $var3);
  transform: translate3d($var1, $var2, $var3);
}
