.entry {
  padding: 2px;
  border-radius: $borderRadius;
  font-weight: bold;
  color: white;
  background: $lightBlue;
  @include flexbox;
  align-items: center;
  justify-content: center;
  height: 40px;
}
